*{
    box-sizing: border-box;
}
.container--dark{
    background-color: #282D35;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.description--container{
    min-height: 500px;
    min-width: 800px;
    max-width: 800px;
    max-height: 500px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(255, 90, 95, 1);
    border-radius: 25px;
}
.description--container--dark{
    min-height: 500px;
    min-width: 800px;
    max-width: 800px;
    max-height: 500px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(255, 90, 95, 1);
    border-radius: 25px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 90, 95, 1);
    border-right: 2px solid rgba(255, 90, 95, 1);
    border-left: 2px solid rgba(255, 90, 95, 1);
    border-radius: 25px;
    padding: 10px;
}
.description--container--dark .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 90, 95, 1);
    border-right: 2px solid rgba(255, 90, 95, 1);
    border-left: 2px solid rgba(255, 90, 95, 1);
    border-radius: 25px;
    padding: 10px;
    color: white;
}

.description--title{
    margin-right: auto;
    font-size: 25px;
    font-weight: bolder;
}
.description--location{
    margin-left: auto;
    font-size: 25px;
    font-weight: bold;
}

.description--container--dark h1{
    color: white;
}

.description--footer {
    display: flex;
    align-items: center;
    border-top: 2px solid rgba(255, 90, 95, 1);
    border-right: 2px solid rgba(255, 90, 95, 1);
    border-left: 2px solid rgba(255, 90, 95, 1);
    border-radius: 25px;
    padding: 10px;
}
.description--container--dark .description--footer{
    display: flex;
    align-items: center;
    border-top: 2px solid rgba(255, 90, 95, 1);
    border-right: 2px solid rgba(255, 90, 95, 1);
    border-left: 2px solid rgba(255, 90, 95, 1);
    border-radius: 25px;
    padding: 10px;
    color: white;
}

.description--star{
    margin-right: 5px;
} 
.description--price {
    margin-left: 225px;
}
.description--openSpots {
    margin-left: auto;
}
.grey{
    color: grey;
}
.bold{
    font-weight: bolder;
}
 
.description--x {
    position: absolute;
    top: 55px;
    right: 220px;
    height: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
    
.description--x::before,
.description--x::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: rgb(197, 60, 64);
}
    
.description--x::before {
     transform: rotate(45deg);
}
    
.description--x::after {
    transform: rotate(-45deg);
}
.description--x:hover{
    transform:scale(1.2);
}



